<div class="row">
  <h1>Home Page</h1>

  <form action="guess" method="post">
    <input type="text" name="guess" id="" value="" />
    <input type="submit" class="button alert tiny" value="Guess Number" />
  </form>
</div>
